$body-bg: #f5f5f5;
$primary:#162d50;
$secondary: #7500d4;
$light: #e2dfdf;
$zindex-fixed: 1030 !default;
$enable-gradients: true;

article a {
    text-decoration: underline;
}

#fiji {
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    z-index: $zindex-fixed;
}

#ext-links {
    font-size: 50px;
}

html {
    position: relative;
    min-height: 100vh;
}

body {
    margin-bottom: 60px;
    /* Margin bottom by footer height */
}

img {
    border-radius: 5px;
}

.navbar {
    position: sticky;
}

.footer {
    position: absolute;
    font-size: 12px;
    bottom: 0;
    width: 100%;
   /*  height: 65px; */
    /* Set the fixed height of the footer here */
    /* line-height: 30px; */
    /* Vertically center the text there */
}

.fill {
    /* min-height: 100vh; */
    padding-top: 75px;
    padding-bottom: 75px;
}

.body-alt {
    background: linear-gradient(90deg, #ffb2e5, #ffd8df96);
    font-family: Lucida Console, Courier, monospace;
}

.nav-alt {
    background: linear-gradient(90deg, #f59cd7ec, #83f1ffe1);
    font-family: "Times New Roman", Times, serif;
}

.footer-alt {
    background: linear-gradient(90deg, #83f1ff00, #9cdcf5c2);
}

@import "node_modules/bootstrap/scss/bootstrap";